/* ===================================Common CSS====================================== */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
section {
    margin: 0;
    padding: 0;
}

ul,
li,
ol {
    list-style: none;
}

img {
    vertical-align: center;
}


/* ===================================Common CSS====================================== */

/* ===================================root CSS====================================== */
:root {
    --cyber-font: "Tomorrow", serif;
    --barlow-font: "Barlow", serif;

    --yellow: #F8EF00;
    --aqua: #00F0FF;
    --aquaOP: rgba(0, 238, 255, 0.1);
    --light-text: #FAFAFA;
    --grey-text: #BBBBBB;
    --red-border: #FF003C;
}

/* ===================================root CSS====================================== */

body {
    font-family: var(--cyber-font);
    background-color: black;
    color: var(--light-text);
}

.container {
    padding-top: 5vh;
    padding-bottom: 110px;
    width: 85vw;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 18vw;
    align-items: center;
}

.heading {
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    color: var(--yellow);
    letter-spacing: 8px;
    margin-bottom: 64px;
}

.boxBtnContainer{
    position: relative;
}

#reloadBtn{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    border: 1px solid var(--aqua);
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    background-color: transparent;
    color: var(--aqua);
    transition: 0.2s all linear;
    font-family: var(--cyber-font);
}
#reloadBtn:hover{
    background-color: var(--aqua);
    color: #07191a;
}

.passwordBox {
    padding: 20px;
    width: 588px;
    height: 64px;
    background-color: var(--aquaOP);
    border: 2px solid var(--aqua);
    outline: none;
    margin-bottom: 20px;
    font-family: var(--cyber-font);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3.2px;
    z-index: 2;
    color: var(--aqua);
}



.copyPass {
    display: block;
    width: 350px;
    height: 64px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    font-family: var(--cyber-font);
    font-size: 16px;
    font-weight: 600;
    color: black;
    line-height: 24px;
    letter-spacing: 3.2px;
    text-align: start;
    background-color: var(--yellow);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 6% 100%, 0 65%);
    cursor: pointer;
    transition: 0.2s all linear;
    margin-bottom: 64px;
    border: none;
    position: relative;
}

.copyBtnContainer{
    position: relative;
    width: 350px;
}

.copyBtnContainer::after{
    position: absolute;
    content: "";
    bottom: 0;
    right: 46px;
    height: 8px;
    width: 2px;
    background: var(--red-border);
}

.r25btn{
    position: absolute;
    width: 38px;
    height: 8px;
    bottom: 0;
    right: 10px;
    background-color: black;
    color: var(--yellow);
    font-size: 8px;
    letter-spacing: 1.6px;
    text-align: center;
    font-family: var(--barlow-font);
}

.copyPass::after{
    position: absolute;
    content: '';
    top: 0;
    right: 0px;
    height: 64px;
    width: 4px;
    background: var(--red-border);
}

.copyPass:hover {
    background-color: var(--red-border);
}

.copyPass i {
    display: inline-block;
    font-size: 18px;
    margin-left: 60px;
}

.sliderContainer{
    position: relative;
    width: 588px;
}

.inputSlider {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 100%;
    height: 3px;
    border-radius: none;
    background: var(--aqua);
    margin-bottom: 64px;
}

.inputSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 21px;
    height: 21px;
    border-radius: none;
    background-color: var(--yellow);
}

.sliderValue{
    position: absolute;
    top: -25px;
    left: 141.75px;
    width: 21px;
    height: 21px;
    text-align: center;
    line-height: 21px;
    background-color: black;
    color: var(--light-text);
    font-size: 12px;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: start;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 3.2px;
}

.row__uppercase, .row__lowercase, .row__numbers, .row__symbols{
    width: 50%;
    margin-bottom: 28px;
}


.row input{
    display: none;
}

.row span{
    display: inline-block;
    height: 24px;
    width: 24px;
    margin-right: 8px;
    border: 2px solid var(--yellow);
    vertical-align: middle;
    transition: 0.2s ease-in-out;
}

.row .checkboxPass:checked + span {
    background-color: var(--yellow);
}

label{
    cursor: pointer;
}

.audioSection{
    margin-top: 10%;
    cursor: pointer;
    width: fit-content;
}

.audioSection .enableAudio{
    color: var(--aqua);
}

.enableAudio i{
    display: inline-block;
    margin-right: 12px;
    font-size: 24px;
}

.historyHeading{
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 4px;
    margin-bottom: 32px;
}

.historyContainer{
    width: 390px;
    height: 400px;
    overflow: auto;
    padding: 20px;
    border: 1px solid var(--yellow);
}

.historyContainer::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: none;
}

.historyContainer::-webkit-scrollbar-track{
    background-color: #FF003C;
    color: #F8EF00;
    border-radius: none;
}

.historyContainerElements{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#historyCopyBtn{
    transition: 0.2 all linear;
}

#historyCopyBtn:hover{
    color: var(--yellow);
}

.elements_info h4{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 3.2px;
}

.elements_info p{
    font-family: var(--barlow-font);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 2.4px;
    color: var(--grey-text);
}


.clearHistory{
    width: 390px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clearHistory__text{
    border: none;
    background-color: transparent;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3.2px;
    color: var(--yellow);
    margin-top: 37px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s all linear;
}

.clearHistory__text:hover{
    color: var(--red-border);
}


.historyContainerElements button{
    border: none;
    background-color: transparent;
    color: var(--light-text);
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 1024px){
    .container{
        display: block;
    }
    .passwordBox, .inputSlider{
        width: 90vw;
    }
    .row{
        letter-spacing: 0;
        gap: 3vw;
    }
    .audioSection{
        margin-bottom: 20%;
    }

}